{% block header %}
    <header>
        <a class="logo" href="{{ path('mainPage') }}">
            <img class="logo-img img" src="{{ asset('img/logo.png') }}" alt="">
        </a>
        <div class="links a">
            {% if is_granted('IS_AUTHENTICATED') %}
                <a href="{{ path('cab') }}">
                    <label class="links-label" for="cab">
                        <svg viewBox="0 0 24 24" id="cab" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                            <path d="M18 18.7023C18 15.6706 14.5 15 12 15C9.5 15 6 15.6706 6 18.7023M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9Z"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Личный кабинет
                    </label>
                </a>
            {% endif %}
            <a href="{{ path('about') }}">
                <label class="links-label" for="about">
                    <svg viewBox="0 0 512 512" id="about" xmlns="http://www.w3.org/2000/svg" fill="#ffffff">
                        <path d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51168 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.154987,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51168 331.154987,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.44,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.44,384 213.333333,384 Z M240.04672,128 C240.04672,143.46752 228.785067,154.666667 213.55008,154.666667 C197.698773,154.666667 186.713387,143.46752 186.713387,127.704107 C186.713387,112.5536 197.99616,101.333333 213.55008,101.333333 C228.785067,101.333333 240.04672,112.5536 240.04672,128 Z M192.04672,192 L234.713387,192 L234.713387,320 L192.04672,320 L192.04672,192 Z"
                              id="Shape"></path>
                    </svg>
                    О нас
                </label>
            </a>
            <a href="{{ path('lectures_list') }}">
                <label class="links-label" for="lecture">
                    <svg viewBox="0 0 512 512" id="lecture" xmlns="http://www.w3.org/2000/svg" fill="#ffffff">
                        <polygon fill="#ffffff"
                                 points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"></polygon>
                        <path fill="#ffffff"
                              d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"></path>
                    </svg>
                    Лекции
                </label>
            </a>
            {% if not is_granted('IS_AUTHENTICATED') %}
                <a href="{{ path('login') }}">
                    <label class="links-label" for="login">
                        <svg viewBox="0 0 24 24" id="login" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8 6C8 3.79086 9.79086 2 12 2H17.5C19.9853 2 22 4.01472 22 6.5V17.5C22 19.9853 19.9853 22 17.5 22H12C9.79086 22 8 20.2091 8 18V17C8 16.4477 8.44772 16 9 16C9.55228 16 10 16.4477 10 17V18C10 19.1046 10.8954 20 12 20H17.5C18.8807 20 20 18.8807 20 17.5V6.5C20 5.11929 18.8807 4 17.5 4H12C10.8954 4 10 4.89543 10 6V7C10 7.55228 9.55228 8 9 8C8.44772 8 8 7.55228 8 7V6ZM12.2929 8.29289C12.6834 7.90237 13.3166 7.90237 13.7071 8.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L13.7071 15.7071C13.3166 16.0976 12.6834 16.0976 12.2929 15.7071C11.9024 15.3166 11.9024 14.6834 12.2929 14.2929L13.5858 13L5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11L13.5858 11L12.2929 9.70711C11.9024 9.31658 11.9024 8.68342 12.2929 8.29289Z"
                                  fill="#ffffff"></path>
                        </svg>
                        Войти
                    </label>
                </a>
            {% endif %}
        </div>
    </header>
    <div class="bread bottom-line montserrat">
        {{ wo_render_breadcrumbs({separator: '>'}) }}
    </div>
{% endblock %}