<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this }}</title>
    {% block stylesheet %}
        <link href="{{ asset('css/_header.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/test-main.css') }}" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    {% endblock %}
    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<div class="wrapper montserrat">
    {{ block('header', '_header.html.twig') }}
    <div class="main">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <ul class="questions"
            data-index="{{ form.questions|length > 0 ? form.questions|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
        </ul>
        <button type="button" class="add_item_link btn" data-collection-holder-class="questions">Добавить вопрос</button>
        {{ form_row(form.save) }}
        {{ form_end(form, {render_rest: false}) }}
        <script>
            const addQuestion = document.querySelector('.add_item_link')
            addQuestion.dataset.collectionHolderClass='questions'

            const newLinkLi = document.createElement('li')
            document.getElementsByName('test_form').item(0).append(addQuestion)

            const collection = document.querySelector('.questions')
            collection.appendChild(addQuestion)

            const addQuestionToCollection = () => {
                const collectionHolder = document.querySelector('.questions');

                const item = document.createElement('li');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );
                collectionHolder.appendChild(item);
                const addAnswer = item.querySelector('.add_item_link_answer')
                addAnswer.addEventListener("click", addFormToCollection)
                addAnswer.dataset.collectionHolderClass = 'answers'
                addAnswer.innerText = 'Добавить ответ'
                item.appendChild(addAnswer)
                item.querySelector('legend.required').innerText =   'Ответы'

                collectionHolder.dataset.index++;
            }

            const addFormToCollection = (e) => {
                const collectionHolder = e.target.closest('li').querySelector('.answers')

                const item = document.createElement('li');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );
                collectionHolder.appendChild(item);
                item.setAttribute('id', 'answer' + collectionHolder.dataset.index)
                item.querySelector('input.form-check-input').removeAttribute('required')
                item.querySelector('legend.required').remove()

                collectionHolder.dataset.index++;
            }

            addQuestion.addEventListener("click", addQuestionToCollection)
        </script>
    </div>
</div>
</body>
</html>