<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this }}</title>
    {% block stylesheet %}
        <link href="{{ asset('css/_header.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/test_list-main.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div class="wrapper montserrat">
    {{ block('header', '_header.html.twig') }}
    <div class="main">
        <ul>
            {% if is_granted('ROLE_EDITOR') %}
                <li class="list-group-item">
                    <a href="{{ path('addTest') }}">Сделать тест</a>
                </li>
            {% endif %}
{#            {% for key, lecture in lectures %}#}
{#                <li class="lecture border list-group-item">#}
{#                    <a href="{{ path('lecture', {id: lecture.id}) }}">#}
{#                        {{ lecture.name }}#}
{#                    </a>#}
{#                    <div class="actions float-end ">#}
{#                        {% if is_granted('ROLE_EDITOR') %}#}
{#                            <form action="{{ path('editLecture', {id: lecture.id}) }}">#}
{#                                <button class="button-edit" type="submit">#}
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="SVGRepo_iconCarrier">
                                            <path d="M18 10L21 7L17 3L14 6M18 10L8 20H4V16L14 6M18 10L14 6" stroke="#ffffff"
                                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
{#                                </button>#}
{#                            </form>#}
{#                            <form action="{{ path('deleteLecture', {id: lecture.id}) }}">#}
{#                                <button class="button-delete" type="submit">#}
{#                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#}
{#                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>#}
{#                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>#}
{#                                        <g id="SVGRepo_iconCarrier">#}
{#                                            <path d="M19 5L5 19M5.00001 5L19 19" stroke-width="1.5"#}
{#                                                  stroke-linecap="round" stroke-linejoin="round"></path>#}
{#                                        </g>#}
{#                                    </svg>#}
{#                                </button>#}
{#                            </form>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </li>#}
{#            {% endfor %}#}
        </ul>
    </div>
</div>
</body>
</html>